[user]
	name = Tim Creech
	email = tmcreech@gmail.com
[color]
	diff = auto
	status = auto
	branch = auto
[color "branch"]
        current = blue reverse
        local = blue
        remote = green
[color "diff"]
        meta = blue bold
        frag = magenta bold
        old = red bold
        new = green bold
[color "status"]
        added = green
        changed = red
        untracked = cyan
